.pivot-tabs {
    .pivot-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;
        padding: 10px 0;
        border-bottom: 1px solid #ccc;

        .pivot-header-title {
            padding: 0;
            margin: 0;
            font-family: inherit;
        }

        .pivot-header-actions {

        }
    }

    .pivot-tabs-container {
        display:flex;
        flex-direction: row;
        align-content:center;
        clear:both;
        margin: 10px auto;
        border-bottom: 1px solid #ccc;
        padding: 15px 0 15px 0;
        overflow-x:auto;
        
        div.pivot-tab {
            padding: 10px 20px;
            
            button {
                background:none;
                font-size:24px;
                font-family: inherit;
                padding:0;
                margin:0;
                color: rgba(0,0,0,.6);
                border:none;
                box-shadow:none;
                cursor: pointer;
            }
            
            &.active {
                button {
                    color:#000;
                }
            }
            
            &:first-child {
                padding-left:0;
            }
        }    
    }
}